<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wjh.ofo.entityAndDao.OFODao">
	
	<!-- 根据用户名进行查询 -->
	<select id="getAll" resultType="OFO">
		select * from ofoup
	</select>
	<!-- 插入数据记录 -->
	<insert id="insertofo" parameterType="OFO">
		insert into ofoup(bikenumber,bikeps)  value(#{bikenumber},#{bikeps}) 
	</insert>
	<!-- 根据车牌号获取密码 ，返回类型为OFO对象-->
	<select id="ofofind" parameterType="string" resultType="OFO">
		select * from ofoup where bikenumber=#{bikenumber}
	</select>
	
	<!-- 根据车牌号获取密码 ，返回类型为String-->
	<select id="ofofindString" parameterType="string" resultType="string">
		select bikeps from ofoup where bikenumber=#{bikenumber}
	</select>	
	
</mapper>